*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.background {
  height: 100vh;
  background-color: #a67f4b;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  margin: 20px;
  font-size: 24px;
}
